<div>
  <div [formGroup]="materialFormLocalModel">
    <div class="row">
      <div class="form-group col-sm-12" >
        <label for="materialName" class="required full-width" aria-required="true">
          <span class="field-name" i18n>{{'material.name'|translate}}</span>
          <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
          <control-messages *ngIf="materialFormLocalModel.controls.materialName.invalid"
                            [showError]="showFieldErrors"
                            [control]="materialFormLocalModel.controls.materialName"
                            controlId="materialName" label="material.name" parentId="materialDetails"
                            parentLabel="Biological Material">
          </control-messages>
          <input id="materialName" name="materialName" class="form-control full-width"
                 [formControl]="materialFormLocalModel.controls.materialName" maxlength="60"/>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-12" >
        <label for="materialDeviceName" class="required full-width" aria-required="true">
          <span class="field-name" i18n>{{'device.name'|translate}}</span>
          <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
          <control-messages *ngIf="materialFormLocalModel.controls.deviceName.invalid"
                            [showError]="showFieldErrors"
                            [control]="materialFormLocalModel.controls.deviceName"
                            controlId="deviceName" label="device.name" parentId="materialDetails"
                            parentLabel="Biological Material">
          </control-messages>
          <input id="materialDeviceName" name="materialDeviceName" class="form-control full-width"
                 [formControl]="materialFormLocalModel.controls.deviceName" maxlength="150"/>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-5 col-xs-12" >
        <label for="originCountry" class="full-width">
          <span class="field-name" i18n>{{'country'|translate}}</span>
          <div class="margin-top-small">
            <ng-select id="originCountry" name="originCountry"
                       [formControl]="materialFormLocalModel.controls.originCountry"
                       [allowClear]="false" [items]="countries">
            </ng-select>
          </div>
        </label>
      </div>
      <div class="form-group col-sm-5 col-xs-12" >
        <label for="specFamily" class="required full-width" aria-required="true">
          <span class="field-name" i18n>{{'species.family'|translate}}</span>
          <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
          <control-messages *ngIf="materialFormLocalModel.controls.specFamily.invalid"
                            [showError]="showFieldErrors"
                            [control]="materialFormLocalModel.controls.specFamily"
                            controlId="specFamily" label="species.family" parentId="materialDetails"
                            parentLabel="Biological Material">
          </control-messages>
          <div class="margin-top-small">
            <ng-select id="specFamily" name="specFamily"
                       [formControl]="materialFormLocalModel.controls.specFamily" class="required"
                       [allowClear]="false"  [items]="speciesFamilyList"
                       (selected)="selected($event)">
            </ng-select>
          </div>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-4">
        <label for="tissueType" class="full-width">
          <span class="field-name" i18n>{{'tissue.type'|translate}}</span>
          <div class="margin-top-small">
            <ng-select id="tissueType" name="tissueType"
                       [formControl]="materialFormLocalModel.controls.tissueType"
                       [allowClear]="false" [items]="tissueTypeList">
            </ng-select>
          </div>
        </label>
      </div>
      <div class="form-group col-sm-8" *ngIf="isOtherType()">
        <label for="tissueTypeOtherDetails" class="full-width">
          <span class="field-name" i18n>{{'tissue.other' |translate}}</span>
          <input id="tissueTypeOtherDetails" name="tissueTypeOtherDetails" class="form-control full-width"
                 [formControl]="materialFormLocalModel.controls.tissueTypeOtherDetails"/>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-4" >
        <label for="derivative" class=" full-width">
          <span class="field-name" i18n>{{'derivative'|translate}}</span>
          <div class="margin-top-small">
            <ng-select id="derivative" name="derivative"
                       [formControl]="materialFormLocalModel.controls.derivative"
                       [allowClear]="false" [items]="derivativeList">
            </ng-select>
          </div>
        </label>
      </div>
      <div class="form-group col-sm-8" *ngIf="isOtherDerivative()">
        <label for="derivativeOtherDetails" class="full-width">
          <span class="field-name" i18n>{{'derivative.other' |translate}}</span>
          <input id="derivativeOtherDetails" name="derivativeOtherDetails" class="form-control full-width"
                 [formControl]="materialFormLocalModel.controls.derivativeOtherDetails"/>
        </label>
      </div>
    </div>
    <!-- <pre>{{materialFormLocalModel.value |json}}</pre>-->
  </div>
</div>
