<div>
  <div [formGroup]="contactFormLocalModel">
    <div class="row">
      <div class="form-group col-sm-7" >
        <label for="salutation" class="full-width">
          <span class="field-name" i18n>{{salutation |translate}}</span>
          <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
          <select id="salutation" required class="form-control full-width" formControlName="salutation">
            <option *ngFor="let sal of salutations" [ngValue]="sal.id"> {{sal.label_en}}</option>

          </select>
          <control-messages *ngIf="contactFormLocalModel.controls.salutation.invalid"
                            [showError]="showFieldErrors"
                            [control]="contactFormLocalModel.controls.salutation"
                            controlId="salutation" label="{{salutation}}" parentId="contactDetails"
                            parentLabel="REP Contact"></control-messages>
        </label>
      </div>
      <div class="form-group col-sm-3" >
        <label for="contactId" class="full-width">
          <span class="field-name" i18n>{{'contact.id'|translate}}</span>
          <input id="contactId" class="form-control full-width"
                 [readonly]="!isInternal" formControlName="contactId"/>
          <!--control-messages *ngIf="contactFormLocalModel.controls.contactId.invalid"
                            [showError]="showFieldErrors"
                            [control]="contactFormLocalModel.controls.contactId"
                            controlId="contactId" label="contact.id" parentId="contactDetails"
                            parentLabel="REP Contact"></control-messages-->
        </label>
      </div>
      <div class="form-group col-sm-2" >
        <label for="status" class="full-width">
          <span class="field-name">{{'status' |translate}}</span>
          <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
          <select id="status" required class="form-control full-width" formControlName="status">
            <option *ngFor="let stat of statuses" [ngValue]="stat.id"> {{stat.label_en}}</option>

          </select>
          <control-messages *ngIf="contactFormLocalModel.controls.status.invalid"
                            [showError]="showFieldErrors"
                            [control]="contactFormLocalModel.controls.status"
                            controlId="status" label="{{status}}" parentId="contactDetails"
                            parentLabel="REP Contact"></control-messages>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-5" >
        <label for="firstName" class="required full-width" aria-required="true">
          <span class="field-name" i18n>{{'first.name'|translate}}</span>
          <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
          <input id="firstName" class="form-control full-width" formControlName="firstName"/>
          <control-messages *ngIf="contactFormLocalModel.controls.firstName.invalid"
                            [showError]="showFieldErrors"
                            [control]="contactFormLocalModel.controls.firstName"
                            controlId="firstName" label="first.name" parentId="contactDetails"
                            parentLabel="REP Contact"></control-messages>
        </label>
      </div>
      <div class="form-group col-sm-2" >
        <label for="initials" class="full-width">
          <span class="field-name" i18n>{{'initials'|translate}}</span>
          <input id="initials" class="form-control full-width" formControlName="initials"/>
        </label>
      </div>
      <div class="form-group col-sm-5" >
        <label for="lastName" class="required full-width" aria-required="true">
          <span class="field-name" i18n>{{'last.name'|translate}}</span>
          <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
          <input id="lastName" class="form-control full-width" formControlName="lastName"/>
          <control-messages *ngIf="contactFormLocalModel.controls.lastName.invalid"
                            [showError]="showFieldErrors"
                            [control]="contactFormLocalModel.controls.lastName"
                            controlId="lastName" label="last.name" parentId="contactDetails"
                            parentLabel="REP Contact"></control-messages>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-4" >
        <label for="language" class="full-width">
          <span class="field-name">{{'language' |translate}}</span>
          <select id="language" required class="form-control" formControlName="language">
            <option *ngFor="let lang of languages" [ngValue]="lang.id"> {{lang.label_en}}</option>

          </select>
          <control-messages *ngIf="contactFormLocalModel.controls.language.invalid"
                            [showError]="showFieldErrors"
                            [control]="contactFormLocalModel.controls.language"
                            controlId="language" label="{{language}}" parentId="contactDetails"
                            parentLabel="REP Contact"></control-messages>
        </label>
      </div>
      <div class="form-group col-sm-4">
        <label for="jobTitle" class="full-width">
          <span class="field-name">{{'job.title'|translate}}</span>
          <input id="jobTitle" class="form-control full-width" formControlName="jobTitle"/>
          <control-messages *ngIf="contactFormLocalModel.controls.jobTitle.invalid"
                            [showError]="showFieldErrors"
                            [control]="contactFormLocalModel.controls.jobTitle"
                            controlId="jobTitle" label="job.title" parentId="contactDetails"
                            parentLabel="REP Contact"></control-messages>
        </label>
      </div>
      <div class="form-group col-sm-4 ">
        <label for="faxNumber">
          <span class="field-name" i18n>{{'fax.number' |translate}}</span>
          <input id="faxNumber" class="form-control" formControlName="faxNumber"/>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-4" >
        <label for="phoneNumber" class="required full-width" aria-required="true">
          <span class="field-name" i18n>{{'phone.number'|translate}}</span>
          <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
          <input id="phoneNumber" class="form-control full-width" formControlName="phoneNumber" maxlength="80"/>
          <control-messages *ngIf="contactFormLocalModel.controls.phoneNumber.invalid"
                            [showError]="showFieldErrors"
                            [control]="contactFormLocalModel.controls.phoneNumber"
                            controlId="phoneNumber" label="phone.number" parentId="contactDetails"
                            parentLabel="REP Contact"></control-messages>
        </label>
      </div>
      <div class="form-group col-sm-3">
        <label for="phoneExtension" aria-required="true">
          <span class="field-name" i18n>{{'phone.extension' |translate}}</span>
          <input id="phoneExtension" class="form-control" formControlName="phoneExtension"/>
        </label>
      </div>
      <div class="form-group col-sm-5" >
        <label for="email" class="required full-width" aria-required="true">
          <span class="field-name" i18n>{{'email'|translate}}</span>
          <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
          <input id="email" class="form-control full-width" formControlName="email"/>
          <control-messages *ngIf="contactFormLocalModel.controls.email.invalid"
                            [showError]="showFieldErrors"
                            [control]="contactFormLocalModel.controls.email"
                            controlId="email" label="email" parentId="contactDetails"
                            parentLabel="REP Contact"></control-messages>
        </label>
      </div>
    </div>
    <!-- <pre>{{contactFormLocalModel.value |json}}</pre>-->
  </div>
</div>
