<dl>
  <dt>1</dt>
  <dd id="ap1">
    <p>{{'application-info.load.file'|translate}}</p>
    <ul>
      <li>A file should not be loaded if it is the initial enrolment for the Dossier.</li>
      <li>When continuing with a working copy, the format of the file to load should be .hcsc.</li>
      <li>When viewing a draft or final XML file, the format of the file to load should be .xml.</li>
    </ul>
    <p class="fn-rtn"><a href="#ap1-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span>1
      <span class="wb-inv"> referrer</span></a></p>
  </dd>
  <dt>2</dt>
  <dd id="ap2">
    <p>{{'heading.app-info'|translate}}</p>
    <ul>
      <li>The Company ID must be obtained from the final company XML file, issued by Health Canada.</li>
      <li>The Dossier ID can be obtained from the final dossier XML file or other Health Canada issued document. (e.g. HC6-024-m1789745).</li>
    </ul>
    <p class="fn-rtn"><a href="#ap2-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span>2
      <span class="wb-inv"> referrer</span></a></p>
  </dd>
  <dt>3</dt>
  <dd id="ap3">
    <p>{{'licence.app.type' |translate}}</p>
    <p >Refer to the <a href="https://www.canada.ca/en/health-canada/services/drugs-health-products/medical-devices/application-information/guidance-documents/guidance-interpretation-sections-28-31-licence-application-type.html">
      Guidance for the Interpretation of Sections 28 to 31: Licence Application Type </a></p>
    <p class="fn-rtn"><a href="#ap3-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span>3
      <span class="wb-inv"> referrer</span></a></p>
  </dd>
</dl>
