<div>
  <div [formGroup]="transFeesFormLocalModel">
    <div class="row">
      <div class="form-group col-xs-12" >
        <label for="hasFees" class="required full-width">
          <span class="field-name" i18n>{{'are.fees' |translate}}</span>
          <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
          <control-messages *ngIf="transFeesFormLocalModel.controls.hasFees.invalid"
                            [showError]="showFieldErrors"
                            [control]="transFeesFormLocalModel.controls.hasFees"
                            controlId="hasFees" label="are.fees" parentId="transFees"
                            parentLabel="Transaction Fees"></control-messages>
          <select id="hasFees" required class="form-control" (blur)="onblur()"
                  formControlName="hasFees">
            <option *ngFor="let opt of yesNoList" [ngValue]="opt"> {{opt | translate}}</option>
          </select>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-6" >
        <label for="billCompanyId" class="required full-width" aria-required="true">
          <span class="field-name" i18n>{{'billing.company.id'|translate}}</span>
          <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
          <control-messages *ngIf="transFeesFormLocalModel.controls.billCompanyId.invalid"
                            [showError]="showFieldErrors"
                            [control]="transFeesFormLocalModel.controls.billCompanyId"
                            controlId="billCompanyId" label="billing.company.id" parentId="transFees"
                            parentLabel="Transaction Fees"></control-messages>
          <input id="billCompanyId" class="form-control full-width" (blur)="onblur()"
                 formControlName="billCompanyId" maxlength="6"/>
        </label>
      </div>
      <div class="form-group col-xs-6" >
        <label for="billContactId" class="required full-width" aria-required="true">
          <span class="field-name" i18n>{{'dossier.id'|translate}}</span>
          <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
          <control-messages *ngIf="transFeesFormLocalModel.controls.billContactId.invalid"
                            [showError]="showFieldErrors"
                            [control]="transFeesFormLocalModel.controls.billContactId"
                            controlId="billContactId" label="dossier.id" parentId="transFees"
                            parentLabel="Transaction Fees"></control-messages>
          <input id="billContactId" class="form-control full-width"  (blur)="onblur()"
                 formControlName="billContactId" maxlength="5"/>
        </label>
      </div>
    </div>
    <div *ngIf="isFeeAssociated()">
      <div class="row">
        <div class="form-group col-xs-12" >
          <label for="appNature" class="required full-width">
            <span class="field-name" i18n>{{'app.nature' |translate}}</span>
            <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
            <control-messages *ngIf="transFeesFormLocalModel.controls.appNature.invalid"
                              [showError]="showFieldErrors"
                              [control]="transFeesFormLocalModel.controls.appNature"
                              controlId="appNature" label="app.nature"
                              parentId="transFees"
                              parentLabel="Transaction Fees"></control-messages>
            <select id="appNature" required class="form-control full-width" (blur)="appNatureOnblur()"
                    (selected)="appNatureOnblur()" formControlName="appNature">
              <option *ngFor="let nat of appNatureFeesList" [ngValue]="nat.id"> {{nat.text}}</option>

            </select>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-4" >
          <label for="fees">
            <span class="field-name" i18n>{{'fees'|translate}}</span>
            <input id="fees" class="form-control full-width"
                   formControlName="fees" [readonly]="true"/>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-12" >
          <label for="deferralRequest">
            <span class="field-name" i18n>{{'is.deferral' |translate}}</span>
            <select id="deferralRequest" class="form-control" (blur)="onblur()"
                    formControlName="deferralRequest">
              <option *ngFor="let opt of yesNoList" [ngValue]="opt"> {{opt | translate}}</option>
            </select>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-12" >
          <label for="feeRemission" class="required full-width">
            <span class="field-name" i18n>{{'is.remission' |translate}}</span>
            <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
            <control-messages *ngIf="transFeesFormLocalModel.controls.feeRemission.invalid"
                              [showError]="showFieldErrors"
                              [control]="transFeesFormLocalModel.controls.feeRemission"
                              controlId="feeRemission" label="is.remission" parentId="transFees"
                              parentLabel="Transaction Fees"></control-messages>
            <select id="feeRemission" required class="form-control" (blur)="onblur()"
                    formControlName="feeRemission">
              <option *ngFor="let opt of yesNoList" [ngValue]="opt"> {{opt | translate}}</option>
            </select>
          </label>
        </div>
      </div>

      <div *ngIf="transFeesFormLocalModel.controls.feeRemission.value">
        <section class="panel  panel-default">
          <header class="panel-heading clearfix">
            <div class="btn-group pull-right">
            </div>
            <h2 class="panel-title">{{'remission.eligibility'|translate}}</h2>
          </header>
          <div class="panel-body">
            <div class="row">
              <div class="form-group col-xs-12" >
                <label for="grossRevenue" class="required full-width" aria-required="true">
                  <span class="field-name" i18n>{{'gross.revenue'|translate}}</span>
                  <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
                  <control-messages *ngIf="transFeesFormLocalModel.controls.grossRevenue.invalid"
                                    [showError]="showFieldErrors"
                                    [control]="transFeesFormLocalModel.controls.grossRevenue"
                                    controlId="grossRevenue" label="gross.revenue" parentId="transFees"
                                    parentLabel="Transaction Fees"></control-messages>
                  <input id="grossRevenue" type="number" class="form-control" (blur)="revenueOnblur()"
                         formControlName="grossRevenue" step="0.01"/>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-xs-4" >
                <label for="percentGross">
                  <span class="field-name" i18n>{{'2.5percent.revenue'|translate}}</span>
                  <input id="percentGross" class="form-control full-width"
                         formControlName="percentGross" [readonly]="true"/>
                </label>
              </div>
            </div>
            <div class="row" *ngIf="isEligibleRemiC2()">
              <div class="col-xs-12 form-group alert alert-info" role="alert">
                   <span>
                    <p aria-live="polite">{{'class2.eligible.remission'|translate}}</p>
                   </span>
              </div>
            </div>
            <div class="row" *ngIf="isNotEligibleRemiC2()">
              <div class="col-xs-12 form-group alert alert-info" role="alert">
                   <span>
                    <p aria-live="polite">{{'class2.not.eligible.remission'|translate}}</p>
                   </span>
              </div>
            </div>
            <div class="row" *ngIf="isEligibleRemiC34()">
              <div class="col-xs-12 form-group alert alert-info" role="alert">
                   <span>
                    <p aria-live="polite">{{'class34.eligible.remission'|translate}}</p>
                   </span>
              </div>
            </div>
            <div class="row" *ngIf="isNotEligibleRemiC34()">
              <div class="col-xs-12 form-group alert alert-info" role="alert">
                   <span>
                    <p aria-live="polite">{{'class34.not.eligible.remission'|translate}}</p>
                   </span>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="checkbox">
                  <label for="chk-compliance-usp">
                    <input type="checkbox" (blur)="onblur()"
                           formControlName="complianceUsp"
                           id="chk-compliance-usp"/>
                    <span>{{'compliance.usp'|translate}}</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

    <!--<div class="row">-->
      <!--<fieldset id="compliance" class="form-group col-xs-12">-->
        <!--<label>-->
          <!--<span class="field-name">{{'compliance' | translate}}</span>-->
        <!--</label>-->
        <!--<div class="row">-->
          <!--<div class="col-sm-4">-->
            <!--<div class="checkbox">-->
              <!--<label for="chk-compliance-usp">-->
                <!--<input type="checkbox" (blur)="onblur()"-->
                       <!--formControlName="complianceUsp"-->
                       <!--id="chk-compliance-usp"/>-->
                <!--<span>{{'compliance.usp'|translate}}</span>-->
              <!--</label>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-sm-4">-->
            <!--<div class="checkbox">-->
              <!--<label for="chk-compliance-gmp">-->
                <!--<input type="checkbox" (blur)="onblur()"-->
                       <!--formControlName="complianceGmp"-->
                       <!--id="chk-compliance-gmp"/>-->
                <!--<span>{{'compliance.gmp'|translate}}</span>-->
              <!--</label>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-sm-4">-->
            <!--<div class="checkbox">-->
              <!--<label for="chk-compliance-other">-->
                <!--<input type="checkbox" (blur)="onblur()"-->
                       <!--formControlName="complianceOther"-->
                       <!--id="chk-compliance-other"/>-->
                <!--<span>{{'compliance.other'|translate}}</span>-->
              <!--</label>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div *ngIf="isOtherPharmacopeia()" class="row">-->
          <!--<div class="form-group col-xs-12" >-->
            <!--<label for="otherPharmacopeia" class="full-width">-->
              <!--<span class="field-name" i18n>{{'other.pharmacopeia'|translate}}</span>-->
              <!--<input id="otherPharmacopeia" class="form-control full-width" (blur)="onblur()"-->
                     <!--formControlName="otherPharmacopeia" maxlength="20"/>-->
            <!--</label>-->
          <!--</div>-->
        <!--</div>-->
      <!--</fieldset>-->
    <!--</div>-->

    <!-- <pre>{{transFeesFormLocalModel.value |json}}</pre>-->
  </div>
</div>
