<div>
  <div [formGroup]="transFeeFormLocalModel">
    <div class="row">
      <div class="form-group col-xs-12" >
        <label for="hasFees" class="required full-width">
          <span class="field-name" i18n>{{'are.fees' |translate}}</span>
          <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
          <control-messages *ngIf="transFeeFormLocalModel.controls.hasFees.invalid"
                            [showError]="showFieldErrors"
                            [control]="transFeeFormLocalModel.controls.hasFees"
                            controlId="hasFees" label="are.fees" parentId="transFees"
                            parentLabel="Transaction Fees"></control-messages>
          <select id="hasFees" required class="form-control" (blur)="onblur()" data-formControlName="hasFees">
            <option label=" " value=""></option>
            <option *ngFor="let opt of yesNoList" [ngValue]="opt"> {{opt | translate}}</option>
          </select>
        </label>
      </div>
    </div>
    <div class="row"  *ngIf="hasFeeYes()">
      <div class="form-group col-xs-6 minWidth300" >
        <label for="billCompanyId" class="required full-width" aria-required="true">
          <span class="field-name" i18n>{{'billing.company.id'|translate}}</span>
          <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
          <control-messages *ngIf="transFeeFormLocalModel.controls.billCompanyId.invalid"
                            [showError]="showFieldErrors"
                            [control]="transFeeFormLocalModel.controls.billCompanyId"
                            controlId="billCompanyId" label="billing.company.id" parentId="transFees"
                            parentLabel="Transaction Fees"></control-messages>
          <input id="billCompanyId" class="form-control full-width" (blur)="onblur()"
                 data-formControlName="billCompanyId" maxlength="6"/>
        </label>
      </div>
      <div class="form-group col-xs-6 minWidth300" >
        <label for="billContactId" class="required full-width" aria-required="true">
          <span class="field-name" i18n>{{'billing.contact.id'|translate}}</span>
          <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
          <control-messages *ngIf="transFeeFormLocalModel.controls.billContactId.invalid"
                            [showError]="showFieldErrors"
                            [control]="transFeeFormLocalModel.controls.billContactId"
                            controlId="billContactId" label="billing.contact.id" parentId="transFees"
                            parentLabel="Transaction Fees"></control-messages>
          <input id="billContactId" class="form-control full-width"  (blur)="onblur()"
                 data-formControlName="billContactId" maxlength="5"/>
        </label>
      </div>
      <div class="col-xs-12 form-group alert alert-info" role="alert">
           <span>
            <p aria-live="polite">{{'completed.fee.required'|translate}}</p>
           </span>
      </div>
    </div>

    <!-- <pre>{{transFeesFormLocalModel.value |json}}</pre>-->
  </div>
</div>
