<dl>
  <dt>1</dt>
  <dd id="do1">
    <p>{{'dossier.load.file'|translate}}</p>
    <ul>
      <li>A file should not be loaded if it is the initial enrolment for the Dossier.</li>
      <li>When continuing with a working copy, the format of the file to load should be .hcsc.</li>
      <li>When viewing a draft or final XML file, the format of the file to load should be .xml.</li>
    </ul>
    <p class="fn-rtn"><a href="#do1-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span>1
      <span class="wb-inv"> referrer</span></a></p>
  </dd>
  <dt>2</dt>
  <dd id="do2">
    <p>{{'dossier.info'|translate}}</p>
    <ul>
      <li>The “Enrolment Status”, “Enrolment Version”, and “Date Last Saved” fields are automatically filled by the form upon selecting “Save Working Copy” or “Save Draft XML” in the bottom of the template.</li>
      <li>The “Dossier ID” field will be filled by Health Canada when generating final xml file.</li>
      <li>If you already have a dossier ID,
        you do not need to send a draft dossier XML file.
        You can proceed with your transaction by completing the RT XML template.
        The Dossier ID should be known from previously issued acknowledgment letter and the format should be HC6-024-x######.
        If you are unsure what your dossier ID is contact Health Canada at hc.ereview.sc@canada.ca</li>
    </ul>
    <p class="fn-rtn"><a href="#do2-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span>2
      <span class="wb-inv"> referrer</span></a></p>
  </dd>
  <dt>3</dt>
  <dd id="do3">
    <p>{{'company.id'|translate}}</p>
    <p>The “Manufacturer Company ID” must be obtained from the final company XML file, issued by Health Canada.</p>
    <p class="fn-rtn"><a href="#do3-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span>3
      <span class="wb-inv"> referrer</span></a></p>
  </dd>
  <dt>4</dt>
  <dd id="do4">
    <p>{{'contact.id'|translate}}</p>
    <p>The “Manufacturer Contact ID” must be obtained from the final company XML file, issued by Health Canada.</p>
    <p class="fn-rtn"><a href="#do4-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span>4
      <span class="wb-inv"> referrer</span></a></p>
  </dd>
  <dt>5</dt>
  <dd id="do5">
    <p>{{'device.class' | translate}}</p>
    <p>Refer to the <a href="https://www.canada.ca/en/health-canada/services/drugs-health-products/medical-devices/application-information/guidance-documents/guidance-document-guidance-risk-based-classification-system-non-vitro-diagnostic.html">
      Guidance Document - Guidance on the Risk-based Classification System for Non-In Vitro Diagnostic Devices (non-IVDDs)</a>
    </p>
    <p class="fn-rtn"><a href="#do5-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span>5
      <span class="wb-inv"> referrer</span></a></p>
  </dd>
  <dt>6</dt>
  <dd id="do6">
    <p>{{'device.name'|translate}}</p>
    <p>Only one name should be entered in this field. The listed name will be used as the licence name unless it is deemed that a generic licence name is more appropriate to cover all of the devices contained within the licence.</p>
    <p class="fn-rtn"><a href="#do6-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span>6
      <span class="wb-inv"> referrer</span></a></p>
  </dd>
  <dt>7</dt>
  <dd id="do7">
    <p>{{'has.qmsc' |translate}}</p>
    <p>Placeholder for MDSAP Guidance
    </p>
    <p class="fn-rtn"><a href="#do7-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span>7
      <span class="wb-inv"> referrer</span></a></p>
  </dd>
  <dt>8</dt>
  <dd id="do8">
    <p>{{'licence.app.type' |translate}}</p>
    <p>Refer to the <a href="https://www.canada.ca/en/health-canada/services/drugs-health-products/medical-devices/application-information/guidance-documents/guidance-interpretation-sections-28-31-licence-application-type.html">
      Guidance for the Interpretation of Sections 28 to 31: Licence Application Type</a>
    </p>
    <p class="fn-rtn"><a href="#do8-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span>8
      <span class="wb-inv"> referrer</span></a></p>
  </dd>
</dl>
