<div class="container-fluid">
  <form [formGroup]="companyForm" novalidate>
  <!-- todo: [formGroup]="companyForm" need initial ????-->
    <!-- we will place our fields here -->
    <div>
      <span id="privacy"></span>
      <div>
        <h2 class="panel-title mrgn-tp-sm mrgn-bttm-sm">{{'privacy.statement' | translate}}</h2>
        <section class="module-attention"><app-privacy-component></app-privacy-component></section>
      </div>
      <span id="security"></span>
      <div>
        <h2 class="panel-title mrgn-tp-sm mrgn-bttm-sm">{{'security.declaimer' | translate}}</h2>
        <section class="module-attention">
          <app-security-component></app-security-component>
        </section>
      </div>
      <aside class="wb-fnote" role="note" id="instructions">
        <h2>{{'instruction.help'|translate}}</h2>
        <section><company-help-en></company-help-en></section>
      </aside>
      <span id="main"></span>
      <div class="row mrgn-tp-md">
        <div class="col-md-12">
          <div class="text-right">
            <span id="securityInfo" class="fa fa-shield fa-sm"><strong>&nbsp;{{'PROTECTED_B'|translate}}</strong></span>
          </div>
        </div>
      </div>
      <div>
        <section class="panel panel-primary mrgn-tp-lg">
          <header class="panel-heading clearfix">
            <h2 class="panel-title">{{'company.load.file'|translate}}
              <sup id="co1-rf">
                <a class="fn-lnk" href="#co1"><span class="wb-inv">{{'instruction'|translate}}</span>1</a>
              </sup>
            </h2>
          </header>
          <div class="panel-body">
            <div class="row">
              <filereader (complete)="processFile($event)" [rootTag]="rootTagText"></filereader>
            </div>
          </div>
        </section>
      </div>

      <error-summary [hiddenSummary]="hideErrorSummary()" [errorList]="errorList" [headingLevel]="headingLevel"
                     headingPreamble="errorSummary.company"></error-summary>

      <div>
        <section class="panel panel-primary mrgn-tp-lg">
          <header class="panel-heading clearfix">
            <h2 class="panel-title">{{'heading.company'|translate}}
              <sup id="co2-rf">
                <a class="fn-lnk" href="#co2"><span class="wb-inv">{{'instruction'|translate}}</span>2</a>
              </sup>
            </h2>
          </header>
          <div class="panel-body">

            <com-gen-info [showErrors]="showErrors" [isInternal]="isInternalSite"
                              [detailsChanged]="updateChild" [lang]="lang"
                              [genInfoModel]="genInfoModel"
                              (showAdminChanges)="processAdminChangesUpdate($event)"
                              (errorList)="processGenInfoErrors($event)">
            </com-gen-info>

            <div>
              <section class="panel  panel-default">
                <header class="panel-heading clearfix">
                  <h3 class="panel-title">{{'heading.addressInfo'|translate}}</h3>
                </header>
                <div class="panel-body">
                  <address-details [showErrors]="showErrors" [countryList]="countryList" [lang]="lang"
                                   [detailsChanged]="updateChild" [provinceList]="provinceList"
                                   [addressModel]="addressModel" [stateList]="stateList"
                                   (errorList)="processAddressErrors($event)"></address-details>
                </div>
              </section>
            </div>

            <div>
              <section class="panel  panel-default">
                <header class="panel-heading clearfix">
                  <div class="btn-group pull-right">
                   <!-- <button title="{{::'ADDRESS_INSTRUCT'|translate}}"
                            class="btn-xs rep-help-button-primary"
                            id="address-instructions-toggle" ng-click="main.addInstruct(3)"><span
                      class="fa fa-question-circle fa-2x"></span><span class="wb-inv">"{{::'ADDRESS_INSTRUCT'|translate}}"</span>
                    </button>-->
                  </div>
                  <h3 class="panel-title">{{'heading.contactInfo'|translate}}
                    <sup id="co3-rf">
                      <a class="fn-lnk" href="#co3"><span class="wb-inv">{{'instruction'|translate}}</span>3</a>
                    </sup>
                  </h3>
                </header>
                <div class="panel-body">
                  <contact-list  (errors)="processContactErrors($event)" [isInternal]="isInternalSite"
                                 [loadFileIndicator]="loadFileIndicator" [lang]="lang"
                                 [showErrors]="showErrors" [contactModel]="contactModel"></contact-list>
                </div>
              </section>
              </div>
            </div>
        </section>
      </div>

      <div>
        <section class="panel  panel-default">
          <header class="panel-heading clearfix">
            <h3 class="panel-title">{{'primary.contact'|translate}}
              <sup id="co4-rf">
                <a class="fn-lnk" href="#co4"><span class="wb-inv">{{'instruction'|translate}}</span>4</a>
              </sup>
            </h3>
          </header>
          <div class="panel-body">
            <primary-contact [showErrors]="showErrors" [lang]="lang"
                             [detailsChanged]="updateChild"
                             [primContactModel]="primContactModel"
                             (primContactErrorList)="processPrimContactErrors($event)"></primary-contact>
          </div>
        </section>
      </div>

      <div *ngIf="showAdminChanges">
        <section class="panel panel-primary mrgn-tp-lg">
          <header class="panel-heading clearfix">
            <div class="btn-group pull-right">
            </div>
            <h2 class="panel-title">{{'admin.changes'|translate}}</h2>
          </header>
          <div class="panel-body">
            <div class="row">
              <comp-admin-changes [showErrors]="showErrors" [showAdminChanges]="adminChanges" [lang]="lang"
                                  [detailsChanged]="updateChild" [isInternal]="isInternalSite"
                                  [adminChangesModel]="adminChangesModel"
                                  (adminChangesErrorList)="processAdminChangesErrors($event)"></comp-admin-changes>
            </div>
          </div>
        </section>
      </div>

    </div>
    <div class="row btn-group-sm">
      <div class="form-group col-md-4">
        <button class="btn btn-default btn-lg active" (click)="saveWorkingCopyFile()" i18n>
          {{'save.working.copy'|translate}}
        </button>
      </div>
      <div class="form-group col-md-4">
        <button class="btn btn-primary btn-lg active" (click)="saveXmlFile()"
                [disabled]="isExternalAndFinal()" i18n>
          {{saveXmlLabel|translate}}
        </button>
      </div>
    </div>
    <!--pre> myForm valid{{myForm.valid}}</pre>
    <pre> myForm{{myForm.value |json}}</pre-->
  </form>
</div>
