<div class="container-fluid">
  <form [formGroup]="companyForm" novalidate>
    <!-- we will place our fields here -->
    <div>
      <h1>{{'company.form.title'|translate}}</h1>

      <div>
        <section class="panel panel-primary mrgn-tp-lg">
          <header class="panel-heading clearfix">
            <div class="btn-group pull-right">
            </div>
            <h2 class="panel-title">{{'company.load.file'|translate}}</h2>
          </header>
          <div class="panel-body">
            <div class="row">
              <filereader (complete)="processFile($event)" [rootTag]="rootTagText"></filereader>
            </div>
          </div>
        </section>
      </div>

      <error-summary [hidden]="hideErrorSummary()" [errorList]="errorList" [headingLevel]="headingLevel"
                     headingPreamble="errorSummary.address"></error-summary>

      <div>
        <section class="panel panel-primary mrgn-tp-lg">
          <header class="panel-heading clearfix">
            <div class="btn-group pull-right">
            </div>
            <h2 class="panel-title">{{'heading.company'|translate}}</h2>
          </header>
          <div class="panel-body">

            <application-info [showErrors]="showErrors" [isInternal]="isInternal" [inComplete]="false"
                             [detailsChanged]="updateChild" [group]="appInfoModel"
                              (errors)="processAppInfoErrors($event)">
              <!--   [group]="appInfoModel" -->
            </application-info>

            <div>
              <section class="panel  panel-default">
                <header class="panel-heading clearfix">
                  <div class="btn-group pull-right">
                    <!-- <button title="{{::'ADDRESS_INSTRUCT'|translate}}"
                             class="btn-xs rep-help-button-primary"
                             id="address-instructions-toggle" ng-click="main.addInstruct(3)"><span
                       class="fa fa-question-circle fa-2x"></span><span class="wb-inv">"{{::'ADDRESS_INSTRUCT'|translate}}"</span>
                     </button>-->
                  </div>
                  <h3 class="panel-title">{{'heading.addressInfo'|translate}}</h3>
                </header>
                <div class="panel-body">
                  <address-details [showErrors]="showErrors" [countryList]="countryList"
                                   [detailsChanged]="updateChild" [group]="addressModel"
                                   (errorList)="processAddressErrors($event)"></address-details>
                  <!--todo: [group]="adressRecordModel.controls.addressDetails", or  [group]="adressModel"-->
                </div>
              </section>
            </div>

            <div>
              <section class="panel  panel-default">
                <header class="panel-heading clearfix">
                  <div class="btn-group pull-right">
                   <!-- <button title="{{::'ADDRESS_INSTRUCT'|translate}}"
                            class="btn-xs rep-help-button-primary"
                            id="address-instructions-toggle" ng-click="main.addInstruct(3)"><span
                      class="fa fa-question-circle fa-2x"></span><span class="wb-inv">"{{::'ADDRESS_INSTRUCT'|translate}}"</span>
                    </button>-->
                  </div>
                  <h3 class="panel-title">{{'heading.contactInfo'|translate}}</h3>
                </header>
                <div class="panel-body">
                  <contact-list  (errors)="processAddressErrors($event)" [isInternal]="isInternal"
                                 [contactModel]="contactModel"></contact-list>
                </div>
              </section>
              </div>
            </div>
        </section>
      </div>
      <!--button (click)="loadAddressData()">Load Address Data</button-->
      <!--   <thera-list (errors)="processTheraErrors($event)"></thera-list>-->
    </div>
    <div class="row btn-group-sm">
      <div class="form-group col-md-4">
        <button class="btn btn-default btn-lg active" (click)="saveWorkingCopyFile()" i18n>
          {{'save.working.copy'|translate}}
        </button>
      </div>
      <div class="form-group col-md-4">
        <button class="btn btn-primary btn-lg active" (click)="saveXmlFile()" i18n>
          {{'save.draft'|translate}}
        </button>
      </div>
    </div>
    <!--button type="submit" [disabled]="!myForm?.valid">Submit</button>
    <pre> myForm valid{{myForm.valid}}</pre>
    <pre> myForm{{myForm.value |json}}</pre>
    <button (click)="saveFile()" i18n>Save File Test</button-->
  </form>
  <!--pre>{{_theraErrors.length}}</pre-->
</div>
