<div class="container-fluid">
  <form [formGroup]="companyForm" novalidate>
  <!-- todo: [formGroup]="companyForm" need initial ????-->
    <!-- we will place our fields here -->
    <div>
      <h1>{{'company.form.title'|translate}}</h1>

      <div>
        <section class="panel panel-primary mrgn-tp-lg">
          <header class="panel-heading clearfix">
            <div class="btn-group pull-right">
            </div>
            <h2 class="panel-title">{{'company.load.file'|translate}}</h2>
          </header>
          <div class="panel-body">
            <div class="row">
              <filereader (complete)="processFile($event)" [rootTag]="rootTagText"></filereader>
            </div>
          </div>
        </section>
      </div>

      <error-summary [hiddenSummary]="hideErrorSummary()" [errorList]="errorList" [headingLevel]="headingLevel"
                     headingPreamble="errorSummary.company"></error-summary>

      <div>
        <section class="panel panel-primary mrgn-tp-lg">
          <header class="panel-heading clearfix">
            <div class="btn-group pull-right">
            </div>
            <h2 class="panel-title">{{'heading.company'|translate}}</h2>
          </header>
          <div class="panel-body">

            <com-gen-info [showErrors]="showErrors" [isInternal]="isInternalSite" [inComplete]="isFinal"
                              [detailsChanged]="updateChild" [lang]="lang"
                              [genInfoModel]="genInfoModel"
                              (showAdminChanges)="processAdminChangesUpdate($event)"
                              (errorList)="processGenInfoErrors($event)">
            </com-gen-info>

            <div>
              <section class="panel  panel-default">
                <header class="panel-heading clearfix">
                  <div class="btn-group pull-right">
                    <!-- <button title="{{::'ADDRESS_INSTRUCT'|translate}}"
                             class="btn-xs rep-help-button-primary"
                             id="address-instructions-toggle" ng-click="main.addInstruct(3)"><span
                       class="fa fa-question-circle fa-2x"></span><span class="wb-inv">"{{::'ADDRESS_INSTRUCT'|translate}}"</span>
                     </button>-->
                  </div>
                  <h3 class="panel-title">{{'heading.addressInfo'|translate}}</h3>
                </header>
                <div class="panel-body">
                  <address-details [showErrors]="showErrors" [countryList]="countryList" [lang]="lang"
                                   [detailsChanged]="updateChild" [provinceList]="provinceList"
                                   [addressModel]="addressModel" [stateList]="stateList"
                                   (errorList)="processAddressErrors($event)"></address-details>
                </div>
              </section>
            </div>

            <div>
              <section class="panel  panel-default">
                <header class="panel-heading clearfix">
                  <div class="btn-group pull-right">
                   <!-- <button title="{{::'ADDRESS_INSTRUCT'|translate}}"
                            class="btn-xs rep-help-button-primary"
                            id="address-instructions-toggle" ng-click="main.addInstruct(3)"><span
                      class="fa fa-question-circle fa-2x"></span><span class="wb-inv">"{{::'ADDRESS_INSTRUCT'|translate}}"</span>
                    </button>-->
                  </div>
                  <h3 class="panel-title">{{'heading.contactInfo'|translate}}</h3>
                </header>
                <div class="panel-body">
                  <contact-list  (errors)="processContactErrors($event)" [isInternal]="isInternalSite"
                                 [contactModel]="contactModel"></contact-list>
                </div>
              </section>
              </div>
            </div>
        </section>
      </div>

      <div *ngIf="showAdminChanges">
        <section class="panel panel-primary mrgn-tp-lg">
          <header class="panel-heading clearfix">
            <div class="btn-group pull-right">
            </div>
            <h2 class="panel-title">{{'admin.changes'|translate}}</h2>
          </header>
          <div class="panel-body">
            <div class="row">
              <comp-admin-changes [showErrors]="showErrors" [showAdminChanges]="countryList" [lang]="lang"
                                  [detailsChanged]="updateChild" [isInternal]="isInternalSite"
                                  [adminChangesModel]="adminChangesModel"
                                  (adminChangesErrorList)="processAdminChangesErrors($event)"
                                  (licenceErrorList)="processLicenceErrors($event)"></comp-admin-changes>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="row btn-group-sm">
      <div class="form-group col-md-4">
        <button class="btn btn-default btn-lg active" (click)="saveWorkingCopyFile()" i18n>
          {{'save.working.copy'|translate}}
        </button>
      </div>
      <div class="form-group col-md-4">
        <button class="btn btn-primary btn-lg active" (click)="saveXmlFile()" i18n>
          {{saveXmlLabel|translate}}
        </button>
      </div>
    </div>
    <!--pre> myForm valid{{myForm.valid}}</pre>
    <pre> myForm{{myForm.value |json}}</pre-->
  </form>
</div>
