<div class="container-fluid" [formGroup]="deviceRecordModel" *ngIf="deviceRecordModel">
  <h4>{{'heading.interdependent.device'| translate}}&nbsp;{{deviceRecordModel.controls.id.value + 1}}</h4>
  <error-summary *ngIf="showErrorSummary()" [hiddenSummary]="showErrorSummary()"
                 [errorList]="errorList" headingPreamble="heading.device.record"
                 [headingLevel]="headingLevel" label="Device Record" compId="deviceRec">
  </error-summary>
  <device-details [showErrors]="showErrors"
                   [detailsChanged]="updateChild" [group]="deviceRecordModel.controls.deviceDetails"
                   (errorList)="updateErrorList($event)">
  </device-details>
  <div class="row">
    <div class="btn-group-sm col-xs-12 text-left">
      <button class="btn btn-primary" style="margin: 3px" (click)="saveDeviceRecord()" i18n>{{'save.device'|translate}}</button>
      <button class="btn btn-danger" style="margin: 3px" (click)="deleteDeviceRecord()" i18n>{{'delete.device'|translate}}</button>
      <button class="btn btn-default" style="margin: 3px" (click)="revertDeviceRecord()" i18n>{{'discard.changes'|translate}}</button>
    </div>
  </div>

  <!--pre>{{deviceRecordModel.value |json}}</pre-->
</div>
