<div class="container-fluid">
  <form [formGroup]="dossierForm" novalidate>
    <!-- we will place our fields here -->
    <div>
      <h1>{{'dossier.form.title'|translate}}</h1>

      <aside class="wb-fnote" role="note">
        <h2>{{'instruction.help'|translate}}</h2>
        <section><dossier-help-en></dossier-help-en></section>
      </aside>
      <div>
        <section class="panel panel-primary mrgn-tp-lg">
          <header class="panel-heading clearfix">
            <div class="btn-group pull-right">
            </div>
            <h2 class="panel-title">{{'dossier.load.file'|translate}}
              <sup id="do1-rf">
                <a class="fn-lnk" href="#do1"><span class="wb-inv">{{'instruction'|translate}}</span>1</a>
              </sup>
            </h2>
          </header>
          <div class="panel-body">
            <div class="row">
              <filereader (complete)="processFile($event)" [rootTag]="rootTagText"></filereader>
            </div>
          </div>
        </section>
      </div>

      <error-summary [hiddenSummary]="hideErrorSummary()" [errorList]="errorList" [headingLevel]="headingLevel"
                     headingPreamble="errorSummary.dossier"></error-summary>

      <div>
        <section class="panel panel-primary mrgn-tp-lg">
          <header class="panel-heading clearfix">
            <div class="btn-group pull-right">
            </div>
            <h2 class="panel-title">{{'dossier.info'|translate}}</h2>
          </header>
          <div class="panel-body">

            <dos-gen-info [showErrors]="showErrors" [isInternal]="isInternalSite" [inComplete]="isFinal"
                              [detailsChanged]="updateChild" [lang]="lang"
                              [genInfoModel]="genInfoModel"
                              (errorList)="processGenInfoErrors($event)">
            </dos-gen-info>

            <div>
                  <dossier-details [showErrors]="showErrors"
                                   [detailsChanged]="updateChild" [lang]="lang"
                                   [dossierModel]="dossierModel"
                                   (hasQmsc)="disableSaveXmlButton($event)"
                                   (errorList)="processAddressErrors($event)">
                  </dossier-details>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="row btn-group-sm">
      <div class="form-group col-md-4">
        <button class="btn btn-default btn-lg active" (click)="saveWorkingCopyFile()" i18n>
          {{'save.working.copy'|translate}}
        </button>
      </div>
      <div class="form-group col-md-4">
        <button class="btn btn-primary btn-lg active" (click)="saveXmlFile()" [disabled]="disableSaveXml" i18n>
          {{saveXmlLabel|translate}}
        </button>
      </div>
    </div>
    <!--pre> myForm valid{{myForm.valid}}</pre>
    <pre> myForm{{myForm.value |json}}</pre-->
  </form>
</div>
