<div class="container-fluid">
  <form [formGroup]="transactionForm" novalidate>
    <div>
      <span id="privacy"></span>
      <span id="instructions"></span>
      <aside class="wb-fnote" role="note">
        <h2>{{'instruction.help'|translate}}</h2>
        <section><transaction-help-en></transaction-help-en></section>
      </aside>
      <span id="main"></span>
      <div>
        <section class="panel panel-primary mrgn-tp-lg">
          <header class="panel-heading clearfix">
            <h2 class="panel-title">{{'transaction.load.file'|translate}}
              <sup id="tr1-rf">
                <a class="fn-lnk" href="#tr1"><span class="wb-inv">{{'instruction'|translate}}</span>1</a>
              </sup>
            </h2>
          </header>
          <div class="panel-body">
            <div class="row">
              <filereader (complete)="processFile($event)" [rootTag]="rootTagText"></filereader>
            </div>
          </div>
        </section>
      </div>

      <error-summary [hiddenSummary]="hideErrorSummary()" [errorList]="errorList" [headingLevel]="headingLevel"
                     headingPreamble="errorSummary.transaction"></error-summary>

      <div>
        <section class="panel panel-primary mrgn-tp-lg">
          <header class="panel-heading clearfix">
            <h2 class="panel-title">{{'heading.transaction'|translate}}
              <sup id="tr2-rf">
                <a class="fn-lnk" href="#tr2"><span class="wb-inv">{{'instruction'|translate}}</span>2</a>
              </sup>
            </h2>
          </header>
          <div class="panel-body">
            <transaction-details [showErrors]="showErrors" [lang]="lang" [userList]="userList"
                              [detailsChanged]="updateChild" [transactionModel]="transactionModel"
                              (isSolicitedFlag)="processIsSolicitedFlag($event)"
                              (detailErrorList)="processDetailErrors($event)"></transaction-details>

          </div>
          <section class="panel  panel-default" *ngIf="isSolicited()">
            <header class="panel-heading clearfix">
              <h3 class="panel-title">{{'heading.requesters'|translate}}</h3>
            </header>
            <div class="panel-body">
              <requester-list  (errors)="processRequesterErrors($event)"  [userList]="userList" [showErrors]="showErrors"
                               [requesterModel]="requesterModel"></requester-list>
            </div>
          </section>
          <section class="panel panel-default">
            <header class="panel-heading clearfix">
              <h3 class="panel-title">{{'fees'|translate}}</h3>
            </header>
            <div class="panel-body">
              <transaction-fee (feeErrorList)="processTransFeeErrors($event)"
                               [showErrors]="showErrors" [transFeeModel]="transFeeModel"></transaction-fee>
            </div>
          </section>

          <!--<div>-->
          <!--<section class="panel  panel-default">-->
          <!--<header class="panel-heading clearfix">-->
          <!--<div class="btn-group pull-right">-->
          <!--</div>-->
          <!--<h3 class="panel-title">{{'fees'|translate}}</h3>-->
          <!--</header>-->
          <!--<div class="panel-body">-->
          <!--<transaction-fees (feesErrorList)="processTransFeesErrors($event)"-->
          <!--[transFeesModel]="transFeesModel"></transaction-fees>-->
          <!--</div>-->
          <!--</section>-->
          <!--</div>-->
        </section>
      </div>

    </div>
    <div class="row btn-group-sm">
      <div class="form-group col-md-4">
        <button class="btn btn-default btn-lg active" (click)="saveWorkingCopyFile()" i18n>
          {{'save.working.copy'|translate}}
        </button>
      </div>
      <div class="form-group col-md-4">
        <button class="btn btn-primary btn-lg active" (click)="saveXmlFile()" i18n>
          {{'generate.final'|translate}}
        </button>
      </div>
    </div>
    <!--pre> myForm valid{{myForm.valid}}</pre>
    <pre> myForm{{myForm.value |json}}</pre-->
  </form>
</div>
