<div [formGroup]="contactListForm">
  <div formArrayName="contacts">
    <expander-component [group]="dataModel"
                        [isValid]="validRec" [addRecord]="addRecordMsg"
                        [columnDefinitions]="columnDefinitions"
                        [deleteRecord]="deleteRecordMsg">
      <company-contact-record
        [detailsChanged]="updateContactDetails" [isInternal]="isInternal"
        (saveRecord)="saveContactRecord($event)"
        (errors)="updateErrorList($event)"
        (revertRecord)="revertContact($event)" (deleteRecord)="deleteContact($event)"></company-contact-record>

    </expander-component>
    <div *ngIf="newRecordIndicator">
      <company-contact-record
        [detailsChanged]="updateContactDetails" [isInternal]="isInternal"
        [countries]="countryList"
        [group]="newContactForm"
        (saveRecord)="saveContactRecord($event)"
        (errors)="updateErrorList($event)"
        (revertRecord)="revertContact($event)" (deleteRecord)="deleteContact($event)"></company-contact-record>
    </div>
  </div>
  <div class="row mrgn-tp-md mrgn-bttm-lg">
    <div class="btn-group-sm col-md-12 text-left">
      <button class="btn btn-primary" (click)="addContact()"
              [disabled]="!contactListForm.valid || isDirty()">
       {{'add.repres'|translate}}
      </button>
    </div>
  </div>
<!--pre>Form Data {{contactListForm.value |json}}</pre>
  <pre>Data Model for Contact List {{dataModel|json}}</pre-->
</div>
