<div>
  <div [formGroup]="deviceFormLocalModel">

    <div class="row">
      <div class="form-group col-sm-12" >
        <label for="deviceName" class="full-width">
          <span class="field-name" i18n>{{'device.name'|translate}}</span>
          <input id="deviceName" class="form-control full-width" formControlName="deviceName"/>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-12 ">
        <label for="licenceNum">
          <span class="field-name" i18n>{{'licence.number' |translate}} {{'minNumber6' |translate}}</span>
          <control-messages *ngIf="deviceFormLocalModel.controls.licenceNum.invalid"
                            [showError]="showFieldErrors"
                            [control]="deviceFormLocalModel.controls.licenceNum"
                            controlId="licenceNum" label="licence.number" parentId="deviceDetails"
                            parentLabel="Interdependent Device">
          </control-messages>
          <input id="licenceNum" class="form-control" only-digits maxlength="6" formControlName="licenceNum"/>
        </label>
      </div>
    </div>
    <!-- <pre>{{deviceFormLocalModel.value |json}}</pre>-->
  </div>
</div>
