<dl>
  <dt>1</dt>
  <dd id="tr1">
    <p>{{'transaction.load.file'|translate}}</p>
    <ul>
      <li>A file should not be loaded if it is the first REP transaction for this dossier.</li>
      <li>When continuing with a working copy, the format of the file to load should be .hcsc.</li>
      <li>When viewing/updating a final XML file, the format of the file to load should be .xml.</li>
    </ul>
    <p class="fn-rtn"><a href="#tr1-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span>1
      <span class="wb-inv"> referrer</span></a></p>
  </dd>
  <dt>2</dt>
  <dd id="tr2">
    <p>{{'heading.transaction'|translate}}</p>
    <ul>
      <li>The Company ID must be obtained from the final company XML file, issued by Health Canada.</li>
      <li>The Dossier ID can be obtained from the final dossier XML file or other Health Canada issued document. (e.g. HC6-024-x######, i.e. HC6-024-m1789745).</li>
     </ul>
    <p class="fn-rtn"><a href="#tr2-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span>2
      <span class="wb-inv"> referrer</span></a></p>
  </dd>
  <dt>2a</dt>
  <dd id="tr2a">
    <p>{{'device.class' |translate}}</p>
    <p>Refer to the <a href="https://www.canada.ca/en/health-canada/services/drugs-health-products/medical-devices/application-information/guidance-documents/guidance-document-guidance-risk-based-classification-system-non-vitro-diagnostic.html">
        Guidance Document - Guidance on the Risk-based Classification System for Non-In Vitro Diagnostic Devices (non-IVDDs)</a></p>
    <p class="fn-rtn"><a href="#tr2a-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span>2.a
      <span class="wb-inv"> referrer</span></a></p>
  </dd>
  <dt>2c</dt>
  <dd id="tr2b">
    <p>{{'application.number' |translate}}</p>
    <p>This number is assigned by Health Canada for each application/transaction received</p>
    <p class="fn-rtn"><a href="#tr2b-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span>2.b
      <span class="wb-inv"> referrer</span></a></p>
  </dd>
  <dt>2c</dt>
  <dd id="tr2c">
    <p>{{'device.name' |translate}}</p>
    <p>Only one name should be entered in this field. The listed name will be used as the licence name unless it is deemed that a generic licence name is more appropriate to cover all of the devices contained within the licence.</p>
    <p class="fn-rtn"><a href="#tr2c-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span>2.c
      <span class="wb-inv"> referrer</span></a></p>
  </dd>
  <dt>3</dt>
  <dd id="tr3">
    <p>{{'regulatory.contact.id'|translate}}</p>
    <p>All regulatory correspondence will be sent to this contact, but the licence will be issued to the Manufacturer. A medical device licence application can be submitted by a third party.</p>
    <p class="fn-rtn"><a href="#tr3-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span>3
      <span class="wb-inv"> referrer</span></a></p>
  </dd>
  <dt>4</dt>
  <dd id="tr4">
    <p>{{'licence.number' |translate}}</p>
    <ul>
      <li>This number is assigned by Health Canada once a device(s) has been authorized for sale </li>
      <li>If the Licence number has not yet been assigned, use 000000.</li>
    </ul>
    <p class="fn-rtn"><a href="#tr4-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span>4
      <span class="wb-inv"> referrer</span></a></p>
  </dd>
  <dt>5</dt>
  <dd id="tr5">
    <p>{{'has.ddt'|translate}}</p>
    <p>The identifiers listed in the device details table must appear on and match the identifier listed on the submitted labelling.</p>
    <p class="fn-rtn"><a href="#tr5-rf"><span class="wb-inv">{{'return.instruction'|translate}}</span>5
      <span class="wb-inv"> referrer</span></a></p>
  </dd>
</dl>
