<div class="container-fluid" [formGroup]="contactRecordModel">
  <h4>{{'heading.contactDetails'| translate}}&nbsp;{{sequenceNum}}</h4>
  <error-summary *ngIf="showErrorSummary()" [hiddenSummary]="showErrorSummary()"
                 [errorList]="errorList" headingPreamble="heading.contactRecord"
                 [headingLevel]="headingLevel" label="Company Contact Record(s)" compId="contactRec"></error-summary>
  <contact-details [showErrors]="showErrors" [isInternal]="isInternal"
                   [detailsChanged]="updateChild" [group]="contactRecordModel.controls.contactDetails"
                   (errorList)="updateErrorList($event)"></contact-details>

  <div class="row">
    <div class="btn-group-sm col-xs-12 text-left">
      <button class="btn btn-primary" (click)="saveContactRecord()" i18n>{{'save.record'|translate}}</button>
      <button  *ngIf="isInternal" class="btn btn-danger" (click)="deleteContactRecord()" i18n>{{'delete.record'|translate}}</button>
      <button class="btn btn-default" (click)="revertContactRecord()" i18n>{{'discard.changes'|translate}}</button>
    </div>
  </div>
  <!--<div class="row" *ngIf="contactRecordModel.dirty">-->
    <!--<div class="col-xs-7 form-group">-->
      <!--<div class="alert alert-info" role="alert"-->
           <!--aria-live="polite">-->
        <!--<span>{{'common.saveRevert'|translate}}</span>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <!--pre>{{contactRecordModel.value |json}}</pre-->
</div>
