<div>
  <div [formGroup]="transDetailsFormLocalModel">
    <div class="row">
      <div class="form-group col-xs-6" >
        <label for="dossierId" class="required full-width" aria-required="true">
          <span class="field-name" i18n>{{'dossier.id'|translate}}</span>
          <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
          <control-messages *ngIf="transDetailsFormLocalModel.controls.dossierId.invalid"
                            [showError]="showFieldErrors"
                            [control]="transDetailsFormLocalModel.controls.dossierId"
                            controlId="dossierId" label="dossier.id" parentId="transDetails"
                            parentLabel="Transaction Information"></control-messages>
          <div class="rep-input-group">
            <span class="input-group-addon">HC6-024-</span>
            <input id="dossierId" class="form-control full-width"  (blur)="onblur()"
                 formControlName="dossierId" maxlength="7"/>
          </div>
        </label>
      </div>
      <div class="form-group col-xs-6" >
        <label for="dossierType" class="full-width">
          <span class="field-name" i18n>{{'dossier.type'|translate}}</span>
          <input id="dossierType" class="form-control full-width"
                 formControlName="dossierType"  [readonly]="true"/>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-6" >
        <label for="manuCompanyId" class="required full-width" aria-required="true">
          <span class="field-name" i18n>{{'manufacturing.company.id'|translate}}</span>
          <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
          <control-messages *ngIf="transDetailsFormLocalModel.controls.manuCompanyId.invalid"
                            [showError]="showFieldErrors"
                            [control]="transDetailsFormLocalModel.controls.manuCompanyId"
                            controlId="manuCompanyId" label="manufacturing.company.id" parentId="transDetails"
                            parentLabel="Transaction Information"></control-messages>
          <input id="manuCompanyId" class="form-control full-width" (blur)="onblur()"
                 formControlName="manuCompanyId" maxlength="6"/>
        </label>
      </div>
      <div class="form-group col-xs-6" >
        <label for="manuContactId" class="required full-width" aria-required="true">
          <span class="field-name" i18n>{{'manufacturing.contact.id'|translate}}</span>
          <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
          <control-messages *ngIf="transDetailsFormLocalModel.controls.manuContactId.invalid"
                            [showError]="showFieldErrors"
                            [control]="transDetailsFormLocalModel.controls.manuContactId"
                            controlId="manuContactId" label="manufacturing.contact.id" parentId="transDetails"
                            parentLabel="Transaction Information"></control-messages>
          <input id="manuContactId" class="form-control full-width" (blur)="onblur()"
                 formControlName="manuContactId" maxlength="5"/>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-6" >
        <label for="reguCompanyId" class="required full-width" aria-required="true">
          <span class="field-name" i18n>{{'regulatory.company.id'|translate}}</span>
          <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
          <control-messages *ngIf="transDetailsFormLocalModel.controls.reguCompanyId.invalid"
                            [showError]="showFieldErrors"
                            [control]="transDetailsFormLocalModel.controls.reguCompanyId"
                            controlId="reguCompanyId" label="regulatory.company.id" parentId="transDetails"
                            parentLabel="Transaction Information"></control-messages>
          <input id="reguCompanyId" class="form-control full-width" (blur)="onblur()"
                 formControlName="reguCompanyId" maxlength="6"/>
        </label>
      </div>
      <div class="form-group col-xs-6" >
        <label for="reguContactId" class="required full-width" aria-required="true">
          <span class="field-name" i18n>{{'regulatory.contact.id'|translate}}</span>
          <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
          <control-messages *ngIf="transDetailsFormLocalModel.controls.reguContactId.invalid"
                            [showError]="showFieldErrors"
                            [control]="transDetailsFormLocalModel.controls.reguContactId"
                            controlId="reguContactId" label="regulatory.contact.id" parentId="transDetails"
                            parentLabel="Transaction Information"></control-messages>
          <input id="reguContactId" class="form-control full-width" (blur)="onblur()"
                 formControlName="reguContactId" maxlength="5"/>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-6" >
        <label for="activityLead" class="required full-width">
          <span class="field-name" i18n>{{'activity.lead' |translate}}</span>
          <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
          <control-messages *ngIf="transDetailsFormLocalModel.controls.activityLead.invalid"
                            [showError]="showFieldErrors"
                            [control]="transDetailsFormLocalModel.controls.activityLead"
                            controlId="activityLead" label="activity.lead"
                            parentId="transDetails"
                            parentLabel="Transaction Information"></control-messages>
          <select id="activityLead" required class="form-control full-width" (blur)="activityLeadOnblur()"
                  (select)="activityLeadOnblur()" formControlName="activityLead">
            <option *ngFor="let lead of actLeadList" [ngValue]="lead"> {{lead|translate}}</option>

          </select>
        </label>
      </div>
      <div class="form-group col-xs-6" >
        <label for="activityType" class="required full-width">
          <span class="field-name" i18n>{{'activity.type' |translate}}</span>
          <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
          <control-messages *ngIf="transDetailsFormLocalModel.controls.activityType.invalid"
                            [showError]="showFieldErrors"
                            [control]="transDetailsFormLocalModel.controls.activityType"
                            controlId="activityType" label="activity.type"
                            parentId="transDetails"
                            parentLabel="Transaction Information"></control-messages>
          <select id="activityType" required class="form-control full-width" (blur)="activityTypeOnblur()"
                  (select)="activityTypeOnblur()" formControlName="activityType">
            <option *ngFor="let type of actTypeList" [ngValue]="type"> {{type|translate}}</option>

          </select>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-6" >
        <label for="transDescription" class="required full-width">
          <span class="field-name" i18n>{{'trans.description' |translate}}</span>
          <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
          <control-messages *ngIf="transDetailsFormLocalModel.controls.transDescription.invalid"
                            [showError]="showFieldErrors"
                            [control]="transDetailsFormLocalModel.controls.transDescription"
                            controlId="transDescription" label="trans.description"
                            parentId="transDetails"
                            parentLabel="Transaction Information"></control-messages>
          <select id="transDescription" required class="form-control full-width" (blur)="onblur()"
                  (select)="onblur()" formControlName="transDescription">
            <option *ngFor="let lead of actLeadList" [ngValue]="lead"> {{lead|translate}}</option>

          </select>
        </label>
      </div>
      <div class="form-group col-xs-6" *ngIf="isInitialNotLicence()">
        <label for="deviceClass" class="required full-width">
          <span class="field-name" i18n>{{'device.class' |translate}}</span>
          <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
          <control-messages *ngIf="transDetailsFormLocalModel.controls.deviceClass.invalid"
                            [showError]="showFieldErrors"
                            [control]="transDetailsFormLocalModel.controls.deviceClass"
                            controlId="deviceClass" label="device.class"
                            parentId="transDetails"
                            parentLabel="Transaction Information"></control-messages>
          <select id="deviceClass" required class="form-control full-width" (blur)="onblur()"
                  (select)="onblur()"
                  formControlName="deviceClass">
            <option *ngFor="let class of devClassList" [ngValue]="class"> {{class|translate}}</option>

          </select>
        </label>
      </div>
    </div>
    <div class="row" *ngIf="isInitialNotLicence()">
      <div class="row">
        <fieldset id="amendReasons" class="form-group col-xs-12">
          <label>
            <span class="field-name">{{'amend.reason' | translate}}</span>
            <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
            <control-messages *ngIf="transDetailsFormLocalModel.controls.amendReason.invalid"
                  [showError]="showFieldErrors"
                  [control]="transDetailsFormLocalModel.controls.amendReason"
                  controlId="amendReason" label="amend.reason"
                  parentId="amendReasons"
                  parentLabel="Transaction Information"></control-messages>
            <input id="amendReason" type="hidden" class="form-control full-width"
                   formControlName="amendReason"/>
          </label>
          <div class="row" *ngIf="reasonArray[0]">
            <div class="col-sm-12">
              <div class="checkbox">
                <label for="classChange">
                  <input type="checkbox" (blur)="reasonOnblur(0)"
                         formControlName="classChange"
                         id="classChange"/>
                  <span>{{'classification.change'|translate}}</span>
                </label>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="reasonArray[1]">
            <div class="col-sm-12">
              <div class="checkbox">
                <label for="licenceChange">
                  <input type="checkbox" (blur)="reasonOnblur(1)"
                         formControlName="licenceChange"
                         id="licenceChange"/>
                  <span>{{'licence.change'|translate}}</span>
                </label>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="reasonArray[2]">
            <div class="col-sm-12">
              <div class="checkbox">
                <label for="processChange">
                  <input type="checkbox" (blur)="reasonOnblur(2)"
                         formControlName="processChange"
                         id="processChange"/>
                  <span>{{'process.change'|translate}}</span>
                </label>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="reasonArray[3]">
            <div class="col-sm-12">
              <div class="checkbox">
                <label for="qualityChange">
                  <input type="checkbox" (blur)="reasonOnblur(3)"
                         formControlName="qualityChange"
                         id="qualityChange"/>
                  <span>{{'quality.change'|translate}}</span>
                </label>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="reasonArray[4]">
            <div class="col-sm-12">
              <div class="checkbox">
                <label for="designChange">
                  <input type="checkbox" (blur)="reasonOnblur(4)"
                         formControlName="designChange"
                         id="designChange"/>
                  <span>{{'design.change'|translate}}</span>
                </label>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="reasonArray[5]">
            <div class="col-sm-12">
              <div class="checkbox">
                <label for="materialsChange">
                  <input type="checkbox" (blur)="reasonOnblur(5)"
                         formControlName="materialsChange"
                         id="materialsChange"/>
                  <span>{{'materials.change'|translate}}</span>
                </label>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="reasonArray[6]">
            <div class="col-sm-12">
              <div class="checkbox">
                <label for="labellingChange">
                  <input type="checkbox" (blur)="reasonOnblur(6)"
                         formControlName="labellingChange"
                         id="labellingChange"/>
                  <span>{{'labelling.change'|translate}}</span>
                </label>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="reasonArray[7]">
            <div class="col-sm-12">
              <div class="checkbox">
                <label for="safetyChange">
                  <input type="checkbox" (blur)="reasonOnblur(7)"
                         formControlName="safetyChange"
                         id="safetyChange"/>
                  <span>{{'safety.change'|translate}}</span>
                </label>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="reasonArray[8]">
            <div class="col-sm-12">
              <div class="checkbox">
                <label for="purposeChange">
                  <input type="checkbox" (blur)="reasonOnblur(8)"
                         formControlName="purposeChange"
                         id="purposeChange"/>
                  <span>{{'purpose.change'|translate}}</span>
                </label>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="reasonArray[9]">
            <div class="col-sm-12">
              <div class="checkbox">
                <label for="addChange">
                  <input type="checkbox" (blur)="reasonOnblur(9)"
                         formControlName="addChange"
                         id="addChange"/>
                  <span>{{'add.delete.change'|translate}}</span>
                </label>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-6" *ngIf="isInitialNotLicence()">
        <label for="licenceNum" class="required full-width">
          <span class="field-name" i18n>{{'licence.number' |translate}}</span>
          <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
          <control-messages *ngIf="transDetailsFormLocalModel.controls.licenceNum.invalid"
                            [showError]="showFieldErrors"
                            [control]="transDetailsFormLocalModel.controls.licenceNum"
                            controlId="licenceNum" label="licence.number"
                            parentId="transDetails"
                            parentLabel="Transaction Information"></control-messages>
          <input id="licenceNum" class="form-control full-width" (blur)="onblur()"
                 formControlName="licenceNum" maxlength="6"/>
        </label>
      </div>
      <div class="form-group col-xs-6" *ngIf="!isInitial()">
        <label for="appNum" class="required full-width">
          <span class="field-name" i18n>{{'application.number' |translate}}</span>
          <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
          <control-messages *ngIf="transDetailsFormLocalModel.controls.appNum.invalid"
                            [showError]="showFieldErrors"
                            [control]="transDetailsFormLocalModel.controls.appNum"
                            controlId="appNum" label="application.number"
                            parentId="transDetails"
                            parentLabel="Transaction Information"></control-messages>
          <input id="appNum" class="form-control full-width" (blur)="onblur()"
                 formControlName="appNum" maxlength="6"/>
        </label>
      </div>
      <div class="form-group col-xs-6" *ngIf="isLicence()">
        <label for="deviceName" class="required full-width">
          <span class="field-name" i18n>{{'device.name' |translate}}</span>
          <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
          <control-messages *ngIf="transDetailsFormLocalModel.controls.deviceName.invalid"
                            [showError]="showFieldErrors"
                            [control]="transDetailsFormLocalModel.controls.deviceName"
                            controlId="deviceName" label="device.name"
                            parentId="transDetails"
                            parentLabel="Transaction Information"></control-messages>
          <input id="deviceName" class="form-control full-width" (blur)="onblur()"
                 formControlName="deviceName" maxlength="150"/>
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-6" *ngIf="isInitialNotLicence()">
      <div class="form-group">
      </div>
      <label for="requestDate" class="required full-width">
        <span class="field-name" i18n>{{'request.date' |translate}}</span>
        <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
        <control-messages *ngIf="transDetailsFormLocalModel.controls.requestDate.invalid"
                          [showError]="showFieldErrors"
                          [control]="transDetailsFormLocalModel.controls.requestDate"
                          controlId="requestDate" label="request.date"
                          parentId="transDetails"
                          parentLabel="Transaction Information"></control-messages>
        <input id="requestDate" type="date" class="form-control full-width" (blur)="onblur()"
               formControlName="requestDate" min="1970-01-01" max="2099-12-31"/>
        </span>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="checkbox">
        <label for="hasDdt">
          <input type="checkbox" (blur)="onblur()"
                 formControlName="hasDdt"
                 id="hasDdt"/>
          <span>{{'has.ddt'|translate}}</span>
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="checkbox">
        <label for="hasAppInfo">
          <input type="checkbox" (blur)="onblur()"
                 formControlName="hasAppInfo"
                 id="hasAppInfo"/>
          <span>{{'has.app.info'|translate}}</span>
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-6" >
      <label for="isSolicitedInfo" class="required full-width">
        <span class="field-name" i18n>{{'is.solicited' |translate}}</span>
        <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
        <control-messages *ngIf="transDetailsFormLocalModel.controls.isSolicitedInfo.invalid"
                          [showError]="showFieldErrors"
                          [control]="transDetailsFormLocalModel.controls.isSolicitedInfo"
                          controlId="isSolicitedInfo" label="is.solicited"
                          parentId="transDetails"
                          parentLabel="Transaction Information"></control-messages>
        <select id="isSolicitedInfo" required class="form-control full-width" (blur)="onblur()"
                (select)="onblur()" formControlName="isSolicitedInfo">
          <option *ngFor="let opt of yesNoList" [ngValue]="opt"> {{opt | translate}}</option>

        </select>
      </label>
    </div>
  </div>

    <div>
      <section class="panel  panel-default">
        <header class="panel-heading clearfix">
          <div class="btn-group pull-right">
          </div>
          <h3 class="panel-title">{{'heading.requesters'|translate}}</h3>
        </header>
        <div class="panel-body">
          <requester-list  (errors)="processRequesterErrors($event)"
                         [requesterModel]="requesterModel"></requester-list>
        </div>
      </section>
    </div>


    <!-- <pre>{{transDetailsFormLocalModel.value |json}}</pre>-->
  </div>
</div>
