<div>
  <div [formGroup]="appInfoFormLocalModel">
    <div class="row">
      <div class="form-group col-xs-6" >
        <label for="companyId" class="required full-width" aria-required="true">
          <span class="field-name" i18n>{{'company.id'|translate}}</span>
          <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
          <control-messages *ngIf="appInfoFormLocalModel.controls.companyId.invalid"
                            [showError]="showFieldErrors"
                            [control]="appInfoFormLocalModel.controls.companyId"
                            controlId="companyId" label="company.id" parentId="appInfoDetails"
                            parentLabel="Application Information"></control-messages>
          <input id="companyId" class="form-control full-width" (blur)="onblur()"
                 formControlName="companyId" maxlength="6"/>
        </label>
      </div>
      <div class="form-group col-xs-6" >
        <label for="dossierId" class="required full-width" aria-required="true">
          <span class="field-name" i18n>{{'dossier.id'|translate}}</span>
          <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
          <control-messages *ngIf="appInfoFormLocalModel.controls.dossierId.invalid"
                            [showError]="showFieldErrors"
                            [control]="appInfoFormLocalModel.controls.dossierId"
                            controlId="dossierId" label="dossier.id" parentId="appInfoDetails"
                            parentLabel="Application Information"></control-messages>
          <input id="dossierId" class="form-control full-width"  (blur)="onblur()"
                 formControlName="dossierId" maxlength="7"/>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-6" >
        <label for="qmscNum" class="required full-width" aria-required="true">
          <span class="field-name" i18n>{{'qmsc.number'|translate}}</span>
          <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
          <control-messages *ngIf="appInfoFormLocalModel.controls.qmscNum.invalid"
                            [showError]="showFieldErrors"
                            [control]="appInfoFormLocalModel.controls.qmscNum"
                            controlId="qmscNum" label="qmsc.number" parentId="appInfoDetails"
                            parentLabel="Application Information"></control-messages>
          <input id="qmscNum" class="form-control full-width"  (blur)="onblur()"
                 formControlName="qmscNum" maxlength="30"/>
        </label>
      </div>
      <div class="form-group col-xs-6" >
        <label for="licenceAppType" class="required full-width">
          <span class="field-name" i18n>{{'licence.app.type' |translate}}</span>
          <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
          <control-messages *ngIf="appInfoFormLocalModel.controls.licenceAppType.invalid"
                            [showError]="showFieldErrors"
                            [control]="appInfoFormLocalModel.controls.licenceAppType"
                            controlId="licenceAppType" label="licence.app.type"
                            parentId="appInfoDetails"
                            parentLabel="Application Information"></control-messages>
          <select id="licenceAppType" required class="form-control full-width" (blur)="onblur()"
                  formControlName="licenceAppType">
            <option *ngFor="let lat of licenceAppTypeList" [ngValue]="lat.id"> {{lat.text}}</option>

          </select>
        </label>
      </div>
    </div>

    <div>
      <section class="panel  panel-default">
        <header class="panel-heading clearfix">
          <div class="btn-group pull-right">
          </div>
          <h2 class="panel-title">{{'place.use'|translate}}</h2>
        </header>
        <div class="panel-body">
          <div class="row">
            <div class="form-group col-xs-12" >
              <label for="isIvdd" class="required full-width">
                <span class="field-name" i18n>{{'is.ivdd' |translate}}</span>
                <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
                <control-messages *ngIf="appInfoFormLocalModel.controls.isIvdd.invalid"
                                  [showError]="showFieldErrors"
                                  [control]="appInfoFormLocalModel.controls.isIvdd"
                                  controlId="isIvdd" label="is.ivdd" parentId="appInfoDetails"
                                  parentLabel="Application Information"></control-messages>
                <select id="isIvdd" required class="form-control" (blur)="onblur()"
                        formControlName="isIvdd">
                  <option *ngFor="let opt of yesNoList" [ngValue]="opt"> {{opt | translate}}</option>
                </select>
              </label>
            </div>
          </div>
          <div class="row" *ngIf="isIVDD()">
            <div class="form-group col-xs-12">
              <label for="isHomeUse" class="required full-width">
                <span class="field-name" i18n>{{'is.home.use' |translate}}</span>
                <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
                <control-messages *ngIf="appInfoFormLocalModel.controls.isHomeUse.invalid"
                                  [showError]="showFieldErrors"
                                  [control]="appInfoFormLocalModel.controls.isHomeUse"
                                  controlId="isHomeUse" label="is.home.use" parentId="appInfoDetails"
                                  parentLabel="Application Information"></control-messages>
                <select id="isHomeUse" required class="form-control" (blur)="onblur()"
                        formControlName="isHomeUse">
                  <option *ngFor="let opt of yesNoList" [ngValue]="opt"> {{opt | translate}}</option>
                </select>
              </label>
            </div>
            <div class="form-group col-xs-12" >
              <label for="isCarePoint" class="required full-width">
                <span class="field-name" i18n>{{'is.point.care' |translate}}</span>
                <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
                <control-messages *ngIf="appInfoFormLocalModel.controls.isCarePoint.invalid"
                                  [showError]="showFieldErrors"
                                  [control]="appInfoFormLocalModel.controls.isCarePoint"
                                  controlId="isCarePoint" label="is.point.care" parentId="appInfoDetails"
                                  parentLabel="Application Information"></control-messages>
                <select id="isCarePoint" required class="form-control" (blur)="onblur()"
                        formControlName="isCarePoint">
                  <option *ngFor="let opt of yesNoList" [ngValue]="opt"> {{opt | translate}}</option>
                </select>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-xs-12" >
              <label for="isEmitRadiation" class="required full-width">
                <span class="field-name" i18n>{{'contain.radiation' |translate}}</span>
                <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
                <control-messages *ngIf="appInfoFormLocalModel.controls.isEmitRadiation.invalid"
                                  [showError]="showFieldErrors"
                                  [control]="appInfoFormLocalModel.controls.isEmitRadiation"
                                  controlId="isEmitRadiation" label="contain.radiation" parentId="appInfoDetails"
                                  parentLabel="Application Information"></control-messages>
                <select id="isEmitRadiation" required class="form-control" (blur)="onblur()"
                        formControlName="isEmitRadiation">
                  <option *ngFor="let opt of yesNoList" [ngValue]="opt"> {{opt | translate}}</option>
                </select>
              </label>
            </div>
          </div>
          <div class="row" *ngIf="isNOIVDD()">
            <div class="form-group col-xs-12" >
              <label for="hasDrug" class="required full-width">
                <span class="field-name" i18n>{{'contain.drug' |translate}}</span>
                <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
                <control-messages *ngIf="appInfoFormLocalModel.controls.hasDrug.invalid"
                                  [showError]="showFieldErrors"
                                  [control]="appInfoFormLocalModel.controls.hasDrug"
                                  controlId="hasDrug" label="contain.drug" parentId="appInfoDetails"
                                  parentLabel="Application Information"></control-messages>
                <select id="hasDrug" required class="form-control" (blur)="onblur()"
                        formControlName="hasDrug">
                  <option *ngFor="let opt of yesNoList" [ngValue]="opt"> {{opt | translate}}</option>
                </select>
              </label>
            </div>
            <div *ngIf="hasDrug()" class="form-group col-xs-12 col-sm-6" >
              <label for="hasDinNpn" class="full-width">
                <span class="field-name" i18n>{{'have.din.npn' |translate}}</span>
                <select id="hasDinNpn" class="form-control full-width" (blur)="onblur()"
                        formControlName="hasDinNpn">
                  <option *ngFor="let drugType of drugTypeList" [ngValue]="drugType"> {{drugType | translate}}</option>

                </select>
              </label>
            </div>
            <div  *ngIf="hasDin()" class="form-group col-xs-6" >
              <label for="din" class="required full-width" aria-required="true">
                <span class="field-name" i18n>{{'din'|translate}}</span>
                <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
                <control-messages *ngIf="appInfoFormLocalModel.controls.din.invalid"
                                  [showError]="showFieldErrors"
                                  [control]="appInfoFormLocalModel.controls.din"
                                  controlId="din" label="din" parentId="appInfoDetails"
                                  parentLabel="Application Information"></control-messages>
                <input id="din" class="form-control full-width"  (blur)="onblur()"
                       formControlName="din" maxlength="8"/>
              </label>
            </div>
            <div  *ngIf="hasNpn()" class="form-group col-xs-6" >
              <label for="npn" class="required full-width" aria-required="true">
                <span class="field-name" i18n>{{'npn'|translate}}</span>
                <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
                <control-messages *ngIf="appInfoFormLocalModel.controls.npn.invalid"
                                  [showError]="showFieldErrors"
                                  [control]="appInfoFormLocalModel.controls.npn"
                                  controlId="npn" label="npn" parentId="appInfoDetails"
                                  parentLabel="Application Information"></control-messages>
                <input id="npn" class="form-control full-width"  (blur)="onblur()"
                       formControlName="npn" maxlength="8"/>
              </label>
            </div>
          </div>
          <div *ngIf="isNoDinNpn()">
            <div class="row">
              <div class="col-xs-12 form-group alert alert-info" role="alert">
                     <span>
                      <p aria-live="polite">{{'combination.products.related'|translate}}</p>
                     </span>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-xs-12">
                <label for="drugName" class="full-width">
                  <span class="field-name">{{'drug.name'|translate}}</span>
                  <textarea type="text" class="form-control full-width" id="drugName" (blur)="onblur()"
                            formControlName="drugName" maxlength="256"></textarea>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-xs-12">
                <label for="activeIngredients" class="full-width">
                  <span class="field-name">{{'active.ingredient'|translate}}</span>
                  <textarea type="text" class="form-control full-width" id="activeIngredients" (blur)="onblur()"
                            formControlName="activeIngredients" maxlength="256"></textarea>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-xs-12" >
                <label for="manufacturer" class="full-width">
                  <span class="field-name" i18n>{{'manufacturer'|translate}}</span>
                  <input id="manufacturer" class="form-control full-width" (blur)="onblur()"
                         formControlName="manufacturer" maxlength="80"/>
                </label>
              </div>
            </div>
            <div class="row">
              <fieldset id="compliance" class="form-group col-xs-12">
                <label>
                  <span class="field-name">{{'compliance' | translate}}</span>
                </label>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="checkbox">
                      <label for="chk-compliance-usp">
                        <input type="checkbox" (blur)="onblur()"
                               formControlName="complianceUsp"
                               id="chk-compliance-usp"/>
                        <span>{{'compliance.usp'|translate}}</span>
                      </label>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="checkbox">
                      <label for="chk-compliance-gmp">
                        <input type="checkbox" (blur)="onblur()"
                               formControlName="complianceGmp"
                               id="chk-compliance-gmp"/>
                        <span>{{'compliance.gmp'|translate}}</span>
                      </label>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="checkbox">
                      <label for="chk-compliance-other">
                        <input type="checkbox" (blur)="onblur()"
                               formControlName="complianceOther"
                               id="chk-compliance-other"/>
                        <span>{{'compliance.other'|translate}}</span>
                      </label>
                    </div>
                  </div>
                </div>
                <div *ngIf="isOtherPharmacopeia()" class="row">
                  <div class="form-group col-xs-12" >
                    <label for="otherPharmacopeia" class="full-width">
                      <span class="field-name" i18n>{{'other.pharmacopeia'|translate}}</span>
                      <input id="otherPharmacopeia" class="form-control full-width" (blur)="onblur()"
                             formControlName="otherPharmacopeia" maxlength="20"/>
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div>
      <section class="panel  panel-default">
        <header class="panel-heading clearfix">
          <div class="btn-group pull-right">
          </div>
          <h2 class="panel-title">{{'requester.history'|translate}}</h2>
        </header>
        <div class="panel-body">
          <div class="row form-group col-xs-12">
            <fieldset id="requester-history">
              <label>
                <span class="field-name">{{'provision.mdr' | translate}}</span>
              </label>
              <div class="row">
                <div class="col-sm-4">
                  <div class="checkbox">
                    <label for="chk-mdr-it">
                      <input type="checkbox" (blur)="onblur()"
                             formControlName="provisionMdrIT"
                             id="chk-mdr-it"/>
                      <span>{{'mdr.it'|translate}}</span>
                    </label>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="checkbox">
                    <label for="chk-mdr-sa">
                      <input type="checkbox" (blur)="onblur()"
                             formControlName="provisionMdrSA"
                             id="chk-mdr-sa"/>
                      {{'mdr.sa'|translate}}
                    </label>
                  </div>
                </div>
              </div>
              <div *ngIf="isIt()" class="row">
                <div  class="form-group col-xs-6" >
                  <label for="authorizationNum" class=" full-width">
                    <span class="field-name" i18n>{{'authorization.number'|translate}}</span>
                    <input id="authorizationNum" class="form-control full-width"  (blur)="onblur()"
                           formControlName="authorizationNum" maxlength="30"/>
                  </label>
                </div>
              </div>
              <div *ngIf="isSa()" class="row">
                <div  class="form-group col-xs-6">
                  <label for="requesterId" class=" full-width">
                    <span class="field-name" i18n>{{'requester.id'|translate}}</span>
                    <input id="requesterId" class="form-control full-width"  (blur)="onblur()"
                           formControlName="requesterId" maxlength="30"/>
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
      </section>
    </div>

    <div>
      <section class="panel  panel-default">
        <header class="panel-heading clearfix">
          <div class="btn-group pull-right">
          </div>
          <h3 class="panel-title">{{'heading.requesters'|translate}}</h3>
        </header>
        <div class="panel-body">
          <requester-list  (errors)="processDeviceErrors($event)"
                         [requesterModel]="requesterModel"></requester-list>
        </div>
      </section>
    </div>

    <div>
      <section class="panel  panel-default">
        <header class="panel-heading clearfix">
          <div class="btn-group pull-right">
          </div>
          <h2 class="panel-title">{{'standards.list'|translate}}</h2>
        </header>
        <div class="panel-body">
          <div class="row">
            <div class="form-group col-xs-12" >
              <label for="declarationConformity" class="required full-width">
                <span class="field-name" i18n>{{'conformity.declaration' |translate}}</span>
                <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
                <control-messages *ngIf="appInfoFormLocalModel.controls.declarationConformity.invalid"
                                  [showError]="showFieldErrors"
                                  [control]="appInfoFormLocalModel.controls.declarationConformity"
                                  controlId="declarationConformity" label="conformity.declaration" parentId="appInfoDetails"
                                  parentLabel="Application Information"></control-messages>
                <select id="declarationConformity" required class="form-control" (blur)="onblur()"
                        formControlName="declarationConformity">
                  <option *ngFor="let opt of yesNoList" [ngValue]="opt"> {{opt | translate}}</option>
                </select>
              </label>
            </div>
          </div>
          <div *ngIf="isNoDeclaration()" class="row">
            <div class="col-xs-12 form-group alert alert-info" role="alert">
                     <span>
                      <p aria-live="polite">{{'declaration.instruct'|translate}}</p>
                     </span>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div>
      <section class="panel  panel-default">
        <header class="panel-heading clearfix">
          <div class="btn-group pull-right">
          </div>
          <h2 class="panel-title">{{'containing.material'|translate}}</h2>
        </header>
        <div class="panel-body">
          <div class="row">
            <div class="form-group col-xs-12" >
              <label for="hasRecombinant" class="required full-width">
                <span class="field-name" i18n>{{'consist.recombinant' |translate}}</span>
                <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
                <control-messages *ngIf="appInfoFormLocalModel.controls.hasRecombinant.invalid"
                                  [showError]="showFieldErrors"
                                  [control]="appInfoFormLocalModel.controls.hasRecombinant"
                                  controlId="hasRecombinant" label="consist.recombinant" parentId="appInfoDetails"
                                  parentLabel="Application Information"></control-messages>
                <select id="hasRecombinant" required class="form-control" (blur)="onblur()"
                        formControlName="hasRecombinant">
                  <option *ngFor="let opt of yesNoList" [ngValue]="opt"> {{opt | translate}}</option>
                </select>
              </label>
            </div>
          </div>
          <div *ngIf="isRecombinant()" class="row">
            <div class="form-group col-xs-12" >
              <label for="isAnimalHumanSourced" class="required full-width">
                <span class="field-name" i18n>{{'contain.material' |translate}}</span>
                <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
                <control-messages *ngIf="appInfoFormLocalModel.controls.isAnimalHumanSourced.invalid"
                                  [showError]="showFieldErrors"
                                  [control]="appInfoFormLocalModel.controls.isAnimalHumanSourced"
                                  controlId="isAnimalHumanSourced" label="contain.material" parentId="appInfoDetails"
                                  parentLabel="Application Information"></control-messages>
                <select id="isAnimalHumanSourced" required class="form-control" (blur)="onblur()"
                        formControlName="isAnimalHumanSourced">
                  <option *ngFor="let opt of yesNoList" [ngValue]="opt"> {{opt | translate}}</option>
                </select>
              </label>
            </div>
          </div>
          <div *ngIf="isAnimalHumanSourced()" class="row">
            <div class="form-group col-xs-12" >
              <label for="isListedIddTable" class="required full-width">
                <span class="field-name" i18n>{{'is.same.material' |translate}}</span>
                <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
                <control-messages *ngIf="appInfoFormLocalModel.controls.isListedIddTable.invalid"
                                  [showError]="showFieldErrors"
                                  [control]="appInfoFormLocalModel.controls.isListedIddTable"
                                  controlId="isListedIddTable" label="is.same.material" parentId="appInfoDetails"
                                  parentLabel="Application Information"></control-messages>
                <select id="isListedIddTable" required class="form-control" (blur)="onblur()"
                        formControlName="isListedIddTable">
                  <option *ngFor="let opt of yesNoList" [ngValue]="opt"> {{opt | translate}}</option>
                </select>
              </label>
            </div>
          </div>
          <div *ngIf="isAnimalHumanSourced()">
            <section class="panel  panel-default">
              <header class="panel-heading clearfix">
                <div class="btn-group pull-right">
                </div>
                <h3 class="panel-title">{{'heading.material.table'|translate}}</h3>
              </header>
              <div class="panel-body">
                <!--<material-list  (errors)="processMaterialErrors($event)" [countryList]="countryList"-->
                                <!--[materialModel]="materialModel"></material-list>-->
              </div>
            </section>
          </div>
        </div>
      </section>
    </div>

    <!-- <pre>{{appInfoFormLocalModel.value |json}}</pre>-->
  </div>
</div>
