<div>
  <div [formGroup]="primContactFormLocalModel">
    <div class="row">
      <div class="form-group col-xs-12" >
        <label for="isThirdParty" class="full-width">
          <span class="field-name">{{'is.3rd.party' |translate}}</span>
          <select id="isThirdParty" required class="form-control full-width" (blur)="onblur()" formControlName="isThirdParty">
            <option label=" " value=""></option>
            <option *ngFor="let opt of yesNoList" [ngValue]="opt"> {{opt | translate}}</option>
          </select>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-6" >
        <label for="repContactCompanyId" class="required full-width" aria-required="true">
          <span class="field-name" i18n>{{'company.id.contact'|translate}}</span>
          <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
          <control-messages *ngIf="primContactFormLocalModel.controls.repContactCompanyId.invalid"
                            [showError]="showFieldErrors"
                            [control]="primContactFormLocalModel.controls.repContactCompanyId"
                            controlId="repContactCompanyId" label="company.id.contact" parentId="companyDetails"
                            parentLabel="REP Company"></control-messages>
          <input id="repContactCompanyId" class="form-control full-width" (blur)="onblur()"
                 formControlName="repContactCompanyId" maxlength="6"/>
        </label>
      </div>
      <div class="form-group col-xs-6" >
        <label for="repContactId" class="required full-width" aria-required="true">
          <span class="field-name" i18n>{{'contact.id.contact'|translate}}</span>
          <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
          <control-messages *ngIf="primContactFormLocalModel.controls.repContactId.invalid"
                            [showError]="showFieldErrors"
                            [control]="primContactFormLocalModel.controls.repContactId"
                            controlId="repContactId" label="contact.id.contact" parentId="companyDetails"
                            parentLabel="REP Company"></control-messages>
          <input id="repContactId" class="form-control full-width" (blur)="onblur()"
            formControlName="repContactId" maxlength="5"/>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-12" >
        <label for="repContactName" class="required full-width" aria-required="true">
          <span class="field-name" i18n>{{'contact.name'|translate}}</span>
          <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
          <control-messages *ngIf="primContactFormLocalModel.controls.repContactName.invalid"
                            [showError]="showFieldErrors"
                            [control]="primContactFormLocalModel.controls.repContactName"
                            controlId="repContactName" label="contact.name" parentId="companyDetails"
                            parentLabel="REP Company"></control-messages>
          <input id="repContactName" class="form-control full-width"  (blur)="onblur()"
                 formControlName="repContactName" maxlength="40"/>
        </label>
      </div>
    </div>
  </div>
    <!-- <pre>{{primContactFormLocalModel.value |json}}</pre>-->
</div>
