<div>
  <div [formGroup]="generalInfoFormLocalModel">
    <div class="row">
      <div class="form-group col-xs-3" >
        <label for="formStatus">
          <span class="field-name">{{'appl.status' |translate}}</span>
          <input id="formStatus" class="form-control full-width" [readonly]="true"
                 formControlName="formStatus" (blur)="onblur()" />
        </label>
      </div>
      <div class="form-group col-xs-3" >
        <label for="enrolVersion">
          <span class="field-name">{{'enrol.version' |translate}}</span>
          <input id="enrolVersion" class="form-control full-width" [readonly]="disableAmend()"
                 formControlName="enrolVersion" (blur)="onblur()" />
        </label>
      </div>
      <div class="form-group col-xs-3" >
        <label for="lastSavedDate">
          <span class="field-name">{{'date.saved' |translate}}</span>
          <input id="lastSavedDate" class="form-control full-width" [readonly]="disableAmend()"
                 formControlName="lastSavedDate" (blur)="onblur()" />
        </label>
      </div>
      <div class="form-group col-xs-3">
        <label for="companyId" [ngClass]="{'required':isInternal}" aria-required="true">
          <span class="field-name" i18n>{{'company.id' |translate}}</span>
          <strong class="required" *ngIf="isInternal" i18n>{{'commmon.required.bracket'|translate}}</strong>
          <control-messages *ngIf="(!disableAmend() && generalInfoFormLocalModel.controls.companyId.invalid)"
                            [showError]="showFieldErrors"
                            [control]="generalInfoFormLocalModel.controls.companyId"
                            controlId="companyId" label="company.id" parentId="generalInfo"
                            parentLabel="Regulatory Company Enrolment"></control-messages>
          <input id="companyId" class="form-control" formControlName="companyId"
                 [readonly]="disableAmend()" maxlength="7" (blur)="onblur()" />
        </label>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-2" >
        <button class="btn btn-primary" (click)="setAmendState()" i18n
                [disabled]="!setAsComplete" id="amendSubDisabled">
          {{'amend.enrol'|translate}}</button>
      </div>
    </div>
    <div class="row" *ngIf="isAmend">

      <fieldset id="amendReasons" class="form-group col-xs-12">
        <label>
          <span class="field-name">{{'amend.reason' | translate}}</span>
          <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
          <control-messages *ngIf="generalInfoFormLocalModel.controls.amendReason.invalid"
                            [showError]="showFieldErrors"
                            [control]="generalInfoFormLocalModel.controls.amendReason"
                            controlId="amendReason" label="amend.reason"
                            parentId="amendReasons"
                            parentLabel="Regulatory Company Enrolment"></control-messages>
          <input id="amendReason" type="hidden" class="form-control full-width"
                 formControlName="amendReason"/>
        </label>
        <div class="row">
          <div class="col-sm-12">
            <div class="checkbox">
              <label for="nameChange">
                <input type="checkbox" (blur)="nameChangeOnblur()"
                       formControlName="nameChange"
                       id="nameChange"/>
                <span>{{'manuname.change'|translate}}</span>
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="checkbox">
              <label for="addressChange">
                <input type="checkbox" (blur)="addressChangeOnblur()"
                       formControlName="addressChange"
                       id="addressChange"/>
                <span>{{'manuaddr.change'|translate}}</span>
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="checkbox">
              <label for="facilityChange">
                <input type="checkbox" (blur)="facilityChangeOnblur()"
                       formControlName="facilityChange"
                       id="facilityChange"/>
                <span>{{'facility.change'|translate}}</span>
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="checkbox">
              <label for="otherChange">
                <input type="checkbox" (blur)="amendReasonOnblur()"
                       formControlName="otherChange"
                       id="otherChange"/>
                <span>{{'other'|translate}}</span>
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div *ngIf="isOther()" class="col-xs-12 form-group">
            <label for="otherDetails"  class="full-width">{{'other.details'|translate}}
            <textarea type="text" class="form-control full-width" id="otherDetails"
                      formControlName="otherDetails" maxlength="500"></textarea>
            </label>
          </div>
        </div>
      </fieldset>

    </div>
    <div class="row">
      <div class="form-group col-xs-6 rep-margin-top-12" >
        <label for="areLicensesTransfered" class="required full-width">
          <span class="field-name" i18n>{{'ownership.transferred' |translate}}</span>
          <strong class="required" i18n>{{'commmon.required.bracket'|translate}}</strong>
          <control-messages *ngIf="generalInfoFormLocalModel.controls.areLicensesTransfered.invalid"
                            [showError]="showFieldErrors"
                            [control]="generalInfoFormLocalModel.controls.areLicensesTransfered"
                            controlId="areLicensesTransfered" label="ownership.transferred"
                            parentId="generalInfo"
                            parentLabel="Regulatory Company Enrolment"></control-messages>
          <select id="areLicensesTransfered" required class="form-control full-width" (blur)="amendReasonOnblur()"
                  (selected)="amendReasonOnblur()" formControlName="areLicensesTransfered">
            <option *ngFor="let opt of yesNoList" [ngValue]="opt"> {{opt | translate}}</option>
          </select>
        </label>
      </div>
    </div>
      <!--<div class="col-xs-7">-->
        <!--<div *ngIf="showAmendMsg()" class="alert alert-info" role="alert"-->
             <!--aria-live="polite">-->
          <!--<span>{{'amend.msg'|translate}}</span>-->
        <!--</div>-->
      <!--</div>-->
    <!--pre>{{generalInfoFormLocalModel.value |json}}</pre>
      <pre>companyId.invalid={{generalInfoFormLocalModel.controls.companyId.invalid}}</pre-->
  </div>
</div>
