<div class="container-fluid">
  <form [formGroup]="appInfoForm" novalidate>
    <div>
      <h1>{{'application-info.form.title'|translate}}</h1>

      <div>
        <section class="panel panel-primary mrgn-tp-lg">
          <header class="panel-heading clearfix">
            <div class="btn-group pull-right">
            </div>
            <h2 class="panel-title">{{'application-info.load.file'|translate}}</h2>
          </header>
          <div class="panel-body">
            <div class="row">
              <filereader (complete)="processFile($event)" [rootTag]="rootTagText"></filereader>
            </div>
          </div>
        </section>
      </div>

      <error-summary [hiddenSummary]="hideErrorSummary()" [errorList]="errorList" [headingLevel]="headingLevel"
                     headingPreamble="errorSummary.application-info"></error-summary>

      <div>
        <section class="panel panel-primary mrgn-tp-lg">
          <header class="panel-heading clearfix">
            <div class="btn-group pull-right">
            </div>
            <h2 class="panel-title">{{'heading.app-info'|translate}}</h2>
          </header>
          <div class="panel-body">
            <app-info-details [showErrors]="showErrors" [countryList]="countryList" [lang]="lang"
                              [detailsChanged]="updateChild" [appInfoModel]="appInfoModel"
                              [deviceModel]="deviceModel" [materialModel]="materialModel"
                              (errorList)="processAddressErrors($event)"></app-info-details>

            </div>
        </section>
      </div>
    </div>
    <div class="row btn-group-sm">
      <div class="form-group col-md-4">
        <button class="btn btn-default btn-lg active" (click)="saveWorkingCopyFile()" i18n>
          {{'save.working.copy'|translate}}
        </button>
      </div>
      <div class="form-group col-md-4">
        <button class="btn btn-primary btn-lg active" (click)="saveXmlFile()" i18n>
          {{'generate.final'|translate}}
        </button>
      </div>
    </div>
    <!--pre> myForm valid{{myForm.valid}}</pre>
    <pre> myForm{{myForm.value |json}}</pre-->
  </form>
</div>
